@import "slick";
.slick {
  &-list {
    max-width: 920px;
    margin: 0 auto;
  }
  &-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-repeat: no-repeat;
    transition: background-image $animation;
  }
  &-prev {
    background-image: url(../images/sliderCases/arrowPrev.svg);
    left: 0;
    &:hover {
      background-image: url(../images/sliderCases/arrowPrevHover.svg);
    }
  }
  &-next {
    background-image: url(../images/sliderCases/arrowNext.svg);
    right: 0;
    &:hover {
      background-image: url(../images/sliderCases/arrowNextHover.svg);
    }
  }
}
