@import "slick";
.slick {
  &-list {
    margin: 0 auto;
  }
  &-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-repeat: no-repeat;
    transition: background-image $animation;
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
}

// CASES
.cases {
  .slick {
    &-list {
      max-width: 920px;
    }
    &-prev {
      background-image: url(../images/slider/arrowPrevWhite.svg);
      &:hover {
        background-image: url(../images/slider/arrowPrevWhiteHover.svg);
      }
    }
    &-next {
      background-image: url(../images/slider/arrowNextWhite.svg);
      &:hover {
        background-image: url(../images/slider/arrowNextWhiteHover.svg);
      }
    }
  }
}

// TEAM
.team {
  .slick {
    &-list {
      max-width: 895px;
    }
    &-arrow {
      top: 45%;
    }
    &-slide {
      padding-bottom: 22px;
    }
    &-prev {
      background-image: url(../images/slider/arrowPrevBlue.svg);
      &:hover {
        background-image: url(../images/slider/arrowPrevBlueHover.svg);
      }
    }
    &-next {
      background-image: url(../images/slider/arrowNextBlue.svg);
      &:hover {
        background-image: url(../images/slider/arrowNextBlueHover.svg);
      }
    }
  }
}
